
.navbar-expand-lg{
  background-color: #584b4f;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: white;
}

.navbar-brand{
  color:white;
}

.navbar-brand:hover{
  color:white;
}

.card-title{
  background-color: #584b4f;
}

#recruiters{
  color: white;
}
/*
.btn-primary{
  margin-left: 100px;
} */

.page-footer{
	background-color: #584b4f;
}
