.display-3{
	font-size: 3.5vw;
}

.text-muted{
	font-size: 2vw;
}

@media screen and (max-width:577px){
	img.logo{
		max-width: 30%;
		height: auto;
		margin-right: auto;
	}
}

.navbar-expand-lg{
  background-color: #584b4f;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: white;
}

.navbar-toggler-icon{
    color: white;
    font-size: 25px;
    border: 2px solid white;
}

.navbar-brand{
  color:white;
}


.navbar-brand:hover{
  color:white;
}

#recruiterstitle{
  background-color: #584b4f;
}

#recruiters{
  color: white;
}

#cardrecruiters{
  border-radius: 10px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 10px;
}

#CardDirector{
   border-radius: 15px;
}

#CardPlacement{
  margin-top:50px;
  border-radius: 10px;
}

.page-footer{
	background-color: #584b4f;
}
