<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset = "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/index.css">
	<title>Training and Placement Cell</title>
</head>

<body>
<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand ml-5" href="index.html">Training & Placement Cell</a>
		<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item">
					<a class="nav-link" href="placements.html">Placements</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="internships.html">Internships</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="presentRecruiters.html">Present Recruiters</a>
				</li>
			
			</ul>

		</div>
	</nav>

<div class="container my-5">
			<div class="row justify-content-md-center">
				<div class="col-sm-2 text-center">
					<img class="img-fluid logo"  src = "./img/nith_logo.jpeg" alt="">
				</div>
				<div class="col-sm-10 col-md-auto">
					<h1 class="display-3 text-center">TRAINING AND PLACEMENT CELL</h1>
					<p class="lead text-muted text-center">National Institute of Technology, Hamirpur</p>
				</div>
			</div>
</div>

<div class="container my-5">
	<div class="row">
		<div class="col-sm-8">
		<h2>About Us</h2><hr>
		<p class="lead">National Institute of Technology Hamirpur is the Technological Hub of our Green and Clean Himachal Pradesh and it offers peaceful and serene environment for the academic growth. Over a period of time, the Institute has made its place amongst the leading technical institutions of the country. Institute offers Ph. D., M.Tech/M.Arch., MBA, B.Arch and accredited B.Tech programs in Civil, Mechanical, Electronics, Electrical, Computer Science and Chemical Engineering, it also offers Dual Degree programs in Computer Science and Electronics & Communication Engineering that justify our reputation as a centre of higher learning. Excellent infrastructure, congenial teaching learning ambience, committed faculty, significant contribution to research work and commitment to the community are our hallmark. </p>
			 <!-- <a href="aboutus.html"><button type="button" class="btn btn-info">Read More</button></a> -->
		</div>
		<div class="col-sm-4">
			<div class="card my-4 text-center" id="cardrecruiters">
				<div class="card-title" id="recruiterstitle"><h3 class="text-center" id="recruiters">Recruiters</h3></div>
				<div class="card-body">
					<p class="lead">Register here to recruit students from NITH through campus placements.</p>
					<a href="/addcompany"><button class="btn btn-lg btn-primary">Register</button></a>
			</div>
		</div>
	</div>
</div>
<br>

	<!-- <div class="row my-5"><br>
		<div class="col-sm-8">
			<h2>Director's Message</h2><hr>
			<p class="lead">Dear Students,<br>Rajkiya Enginnering College is marking its presence as an emerging Technical
			institude which is committed to inculcate the ideas of enterpreneurship, academics, integretity and accountability
		  among the students and to show them the right path for their implementation.<br>
		 REC-K, a place where we celebrate youth and excellence and Endeavour to modify young person into adult with sense of social obligations,
		 human values and bear on environment. We not only strive to train the students to become Scientist, leaders, thinkers and technologist of the society but also help to become human beings.</p>
			<a href="message.html"><button type="button" class="btn btn-info">Read More</button></a>
	 </div>
	 <div class="col-sm-4">
		 <div class="card my-5" id="CardDirector">
			 <div class="card-title">
		 			<img class="img-fluid card-img-top responsive" src="http://reck.ac.in/wp-content/uploads/2017/05/director.jpg" alt="DirectorMamImage">
	 			</div>
				<div class="card-body">
					<h4 class="text-center">Prof. Neelam Srivastava</h4>
					<p class="lead text-center">Director, REC Kannauj</p>
				</div>
 		</div>
</div>
</div> -->

<!-- <h2>Message from Training and Placement Cell</h2><hr>
<div class="row my-5">
	<div class="col-sm-4">
		<div class="card my-1" id="CardPlacement">
			<div class="card-title">
				 <img class="img-fluid card-img-top responsive" src="#" alt="Image">
			 </div>
			 <div class="card-body">
				 <h4 class="text-center">Dr. Arun Kumar Singh</h4>
				 <p class="lead text-center">In-Charge, Training & Placement Cell</p>
			 </div>
	 </div>
 </div>

	 <div class="col-sm-8">
		<p class="lead">The Training & Placement Cell of Rajkiya Enginnering College, Kannauj is established to facilitates the process
		of placement of students passing out from the Institudes as well as collaborating with industries and reputed organization
	  in setting up of intership and training program of students.<br><br>

		It is a matter of pride and honor to extend you the invitation to participate in the Campus Recruitment Program of the Rajkiya
		Enginnering College. With an increasing thrust being placed by the All India Council for Technical Education and Government of India
		for skill development Industry Intersection, I am confident that your esteemed organization and Rajkiya Enginnering College, Kannauj
		stand to gain enormously from this symbolic relationship.<br>
		</p>
		<a href="headmessage.html"><button type="button" class="btn btn-info">Read More</button></a>
	 </div>

</div>
</div>

</div> -->
<!--
<footer class="page-footer font-small">
	<div class="footer-copyright text-center py-3">© 2018 Copyright: Rajkiya Enginnering College, Kannauj</div>
</footer> -->
<!-- <div class="container.fluid" id="footer"> -->
<!--Footer-->
<!-- <footer class="page-footer font-small pt-4 mt-4"> -->

    <!--Footer Links-->
    <!-- <div class="container text-center text-md-left">
        <div class="row"> -->

            <!--First column-->
            <!-- <div class="col-md-6">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div> -->
            <!--/.First column-->

            <!--Second column-->
            <!-- <div class="col-md-6"> -->
                <!-- <h5 class="text-uppercase" style="color:white">Links</h5> -->
                <!-- <ul class="list-unstyled">
                    <li>
                        <a href="aboutus.html" style="color:white;">About Us</a>
                    </li>
                    <li>
                        <a href="facilities.html" style="color:white;">Facilities</a>
                    </li>
                    <li>
                        <a href="departments.html" style="color:white;">Departments</a>
                    </li>
                    <li>
                        <a href="#!" style="color:white;">For Recruiters</a>
                    </li><br>
                </ul>
            </div>
						<div class="col-md-6">
							<h5 class="text-uppercase" style="color:white">Contact us</h5>
							<h5 class="lead" style="color:white">Email: tpo@nith.ac.in</h5>
							<h5 class="lead" style="color:white">Phone: 01972-254591, 254590 </h5>
						</div> -->
            <!--/.Second column-->
        <!-- </div> -->
    <!-- </div> -->
    <!--/.Footer Links-->

    <!--Copyright-->
    <!-- <div class="footer-copyright py-3 text-center" style="color:white;">
        © 2018 Copyright:
        <a href="http://reck.ac.in/" style="color:white;">REC kannauj </a>
    </div> -->
    <!--/.Copyright-->

<!-- </footer> -->
<!--/.Footer-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
