
.navbar-expand-lg{
  background-color: #584b4f;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: white;
}


.navbar-toggler-icon{
    color: white;
    font-size: 25px;
    border: 2px solid white;
}

.navbar-brand{
  color:white;
}


.navbar-brand:hover{
  color:white;
}

.mg-sm{
  font-size: 20px;
  font-weight: 180;
}


.page-footer{
	background-color: #584b4f;
}
