
.navbar-expand-lg{
  background-color: #584b4f;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: white;
}

.responsive{
  max-width: 100%;
  height: auto;
}


.navbar-brand{
  color:white;
}


.navbar-brand:hover{
  color:white;
}

.text-muted{
  font-size: 30px;
  margin-left: 130px;
  color: white;
}


.page-footer{
	background-color: #584b4f;
}
