.navbar-expand-lg{
  background-color: #584b4f;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: white;
}

.responsive{
  max-width: 100%;
  height: auto;
}

.navbar-brand{
  color:white;
}


.navbar-brand:hover{
  color:white;
}

.card{
  border-radius: 15px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.page-footer{
	background-color: #584b4f;
}
