form {
  background: #efefef;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

p{
  color: lightslategray;
}

.navbar-expand-lg{
  background-color: #584b4f;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: lightblue;
}

.navbar-toggler-icon{
    color: lightblue;
    font-size: 25px;
    border: 2px solid white;
}

.navbar-brand{
  color:white;
}


.navbar-brand:hover{
  color:white;
}

.page-footer{
	background-color: #584b4f;
}
